$green: #afc751;
$black: #352a0d;
$darkbrown: #937a63;
$orange: #db8352;
$darkorange: #8f5636;
$darkgreen: #7e8f3a;

$font-standard: 'Montserrat', sans-serif;

$background-image: url("../assets/abend-wiese-1280x853.jpg");


body{
  color: $black;
  font-family: $font-standard;
}

h1{
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}


.wrapper{
  margin-bottom: 40px;
}

/*-------------------------------------------------BUTTONS-------------------------------------------------*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: $darkbrown;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: $font-standard;
  padding: 9px;
  min-width: 115px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 10px;
}

.buttun span, .botton span:after{
  transition: 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button:active{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-container{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 20px auto 0;
}

/*-------------------------------------------------FIELD WITH BALLS-------------------------------------------------*/


.border-top{
  border-top: none;
}

.cell{
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 5;
}

.row{
  clear: both;
}

.row:first-child .innerCell{
  display: none;
}

.row:first-child .cell{
  border-color: transparent;
}

.row:first-child{
  z-index: -1;
}

.controls.ball{
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px;
}

.controls.ball .innerBall{
  width: 79%;
  height: 80%;
  top: 2.7px;
  left: 2.4px;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.innerBall{
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 80%;
  width: 79%;
}

.ball.player1{
  background-color: $darkorange;
}

.innerBall.player1{
  background-color: $orange;
}

.ball.player2{
  background-color: $darkgreen;
}

.innerBall.player2{
  background-color: $green;
}

.ball.winner{
  background-color: white;
}

.innerBall.winner{
  top: 5px;
  left: 4.5px;
  height: 80%;
  width: 80%;
}

.finalBall{
  position: absolute;
  top: 5px;
  left: 5.5px;
  z-index: -1;
}

.innerCell{
  background-image: url("../assets/cell2.svg");
  width: 100%;
  height: 100%;
  z-index: 100;
}

.toDrop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333333;
  position: absolute;
  left: 0;
  top: 1px;
  bottom: auto;
  right: auto;
}

.toDrop:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

/*-------------------------------------------------POP-UP & START DISPLAY-------------------------------------------------*/
.wrapper #startDisplay{
  width: 600px;
  margin: 0 auto;
}

#startDisplay .playerOptions{
  line-height: 40px;
  background-color: white;
  border: 20px solid $green;
  padding: 25px;
  margin: auto auto;
  width: 400px;
}

#startDisplay .playerOptions input[type=text],
.popup-background input[type=text] {
  width: 170px;
}

#startDisplay .playerOptions select#rows{
  margin-left: 49px;
  width: 75px;
}

.popup-background select#numCols{
  margin-left: 19px;
  width: 75px;
}

.popup-background select#numRows,
#startDisplay .playerOptions select#cols,
#againstComputer{
  width: 75px;
}

.popup-background select#numRows{
  margin-left: 47px;
}

#startDisplay .playerOptions select#cols{
  margin-left: 19px;
}

#againstComputer{
  margin-left: 53px;
}

.popup-background{
  line-height: 40px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.56);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.popup{
  background-color: white;
  border: 20px solid $green;
  padding: 25px;
  margin: auto auto;
  width: 400px;
  z-index: 250;
}

.popup .restart{
  display: inline;
}

/*-------------------------------------------------OTHERS-------------------------------------------------*/
.half{
  width: 50%;
  float: left;
}
.hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.restart-container{
  clear: both;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.controls{
  width: fit-content;
  margin: 20px auto 60px;
}

.controls .text{
  font-size: 20px;
}

.text{
  line-height: 20px;
  text-align: center;
}

.float{
  float: left;
}


#fancyGame .board{
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.highlight{
  text-transform: uppercase;
}


#startDisplay .playerOptions{
  line-height: 40px;
  background-color: white;
  border: 20px solid #afc751;
  padding: 25px;
  margin: auto auto;
  width: 400px;
}

#startDisplay .playerOptions input[type=text], .popup-background input[type=text] {
  width: 170px;
}

#startDisplay .playerOptions select#rows{
  margin-left: 49px;
  width: 75px;
}

.popup-background select#numCols{
  margin-left: 19px;
  width: 75px;
}

.popup-background select#numRows{
  margin-left: 47px;
  width: 75px;
}


#startDisplay .playerOptions select#cols{
  margin-left: 19px;
  width: 75px;
}

#againstComputer{
  margin-left: 53px;
  width: 75px;
}

#startDisplay h1{
  margin-bottom: 70px;
  padding-top: 40px;
  font-size: 60px;
}

#startDisplay .playerOptions hr, .popup-background hr{
  border: 2px solid #afc751;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image{
  background-image: url("../assets/abend-wiese-1280x853.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  position: relative;
  margin-top: -40px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #937a63;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 9px;
  width: 214px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 40px auto 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button:active{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.half{
  width: 50%;
  float: left;
}


h1{
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}

#output{
  font-family: Courier;
}


#fancyGame{
  width: 70%;
  margin: 0 auto;
}

.cell{
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 5;
}

.float{
  float: left;
}

.border-left{
  border-left: 5px solid #7b6b53;
}

.border-bottom{
  border-bottom: 5px solid #7b6b53;
}

.border-right{
  border-right: 5px solid #7b6b53;
}

.border-top{
  border-top: none;
}

.hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.restart-container{
  clear: both;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.controls{
  width: fit-content;
  margin: 20px auto 60px;
}

.controls .text{
  font-size: 20px;
}

.text{
  line-height: 20px;
  text-align: center;
}

.controls.ball{
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px;
}

.controls.ball .innerBall{
  width: 79%;
  height: 80%;
  top: 2.7px;
  left: 2.4px;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  /*bottom: 310px;*/
}

.innerBall{
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 80%;
  width: 79%;
}

.ball.player1{
  background-color: #8f5636;
}

.innerBall.player1{
  background-color: #db8352;
}

.ball.player2{
  background-color: #7e8f3a;
}

.innerBall.player2{
  background-color: #afc751;
}

.ball.winner{
  background-color: white;
}

.innerBall.winner{
  top: 5px;
  left: 4.5px;
  height: 80%;
  width: 80%;
}

.finalBall{
  position: absolute;
  top: 5px;
  left: 5.5px;
  z-index: -1;
}

.innerCell{
  background-image: url("../assets/cell2.svg");
  width: 100%;
  height: 100%;
  z-index: 100;
}

.toDrop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333333;
  position: absolute;
  left: 0;
  top: 1px;
  bottom: auto;
  right: auto;
}

.toDrop:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.popup-background{
  line-height: 40px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.56);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.popup{
  background-color: white;
  border: 20px solid #afc751;
  padding: 25px;
  margin: auto auto;
  width: 400px;
  z-index: 250;
}

.popup .restart{
  display: inline;
}

.button-container{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 20px auto 0;}
